.nav-bar
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: hsl(0, 17%, 75%);
  color: white;
}

.left-side 
{
  display: flex;
  align-items: center;
}

.right-side 
{
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.options 
{
  margin-left: 10px;
}

h1
{
    padding-left: 10px;
}

.logo 
{
    width: 24px;
    height: 24px;
}
.theme-icon 
{
    width: 24px;
    height: 24px;
    margin: 0 10px;
}